.card__item {
  margin: 0 34px;
}


.card__img{
  height: 80px;
  text-align: center;
  img{
    height: 100%;
    width: auto;
  }
}

.card__fighters {
  display: flex;
  margin-bottom: 0.3em;
  align-items: flex-start;
  &:last-of-type {
    margin-bottom: 0;
  }
  &--invisible{
    visibility: hidden;
  }
}

.card__container {
  width: 43%;
  // padding-top: 80px;
}

.card__fighter {
  // width: 43%;
  width: 100%;
  border-top: 0.43em solid $gold;
  border-bottom: 1px solid $gold;
  margin-top: 0;
  margin-bottom: 0.3em;
  padding: 0.43em 0;
  overflow: hidden;
  text-overflow: ellipsis;
  &:first-of-type {
    text-align: right;
    .card__fighter-name {
      justify-content: flex-end;
    }
  }
}

.card__fighter-name {
  min-height: 2.57em;
  line-height: 1.29;
  display: flex;
  margin: 0;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
}

.card__fighter-info {
  flex-shrink: 0;
  width: 14%;
  text-align: center;
  padding-top: 80px;
}

.card__fighter-weight {
  margin: 0 0 0.8em;
}

@media #{$s} {
  .card__img{
    height: 110px;
  }
}
