@mixin title($color: $dark, $margin: 0) {
  color: inherit;
  font: 60px/1 "Plumb", "Helvetica", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  text-transform: uppercase;
  margin: $margin;
  text-align: center;
  @media #{$t} {
    font-size: 48px;
  }
  @media #{$s} {
    font-size: 36px;
  }
}

