.partners {
  font-size: 14px;
  // padding: 5em 0 4.1em;
  background: #fff;
  padding: 70px 0 57px;
  font: 18px/1 "Plumb", "Helvetica", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;

}

.partners__wrap {
  @include wrap(1000px);
}

.partners__title {
  @include title($margin: 0 0 0.62em);
  color: $gold;
}


.partners__main {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

// .partners__info{
//   display: flex;
//   align-items: center;
//   margin-bottom: 40px;
//   flex-wrap: wrap;
//   justify-content: space-between;
// }

.partners__status{
  font-size: 1.5em;
  width: 50%;
  text-transform: uppercase;
  margin: 0 0 0.5em 0;
  width: 100%;
  text-align: center;
}

.partners__main-img{
 margin: 10px 35px;
  width: 50%;
  max-width: 200px;
  margin: 0;
  &--big{
    max-width: 450px;
  }
}

.partners__info-status {
  width: 20%;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0;
}

.partners__info-img {
  width: 13%;
  // padding: 0 35px;
  margin: 0;
  &--small {
    width: 16%;
  }
  &--big {
    width: 8%;
  }
}


.partners__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.slick-initialized{
    .slick-slide{
      vertical-align: middle;
    }
  }
}


@media #{$t}{
  .partners__main-status {
    width: 100%;
    text-align: center;
    margin: 0 0 20px 0;
  }

  .partners__main-img {
    width: 40%;
    margin: 0;
    &--big {
      width: 60%;
    }
  }

  .partners__info {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0;
  }

  .partners__info-status {
    width: 100%;
    text-align: center;
    margin: 0 0 20px 0;
  }
}

@media #{$s}{
  .partners__main-status {
    font-size: 1.2em;
  }

  .partners__info-img {
    max-width: 36%;
    padding: 0 1.5%;
    margin: 0;
    max-width: auto;
  }

  .partners__slider-wrap {
    width: 100%;
  }

  .partners__slider{
    padding: 0 25px;
  }
}


