.ticket {
  font: 24px/1 "Plumb", "Helvetica", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  color: $white;
  background: #1d1d21;
  text-align: center;
  // padding: 5em 0 4.1em;
}

.ticket__wrap {
  @include wrap;
  position: relative;
  z-index: 5;
  // padding-top: 2em;
  // padding-bottom: 1.58em;
  overflow: hidden;
  padding: 70px 0 57px;
}

.ticket__title {
  @include title($margin: 0 0 0.35em);
}

.ticket__bg {
  width: 600px;
  // height: 597px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  right: -4.92%;
  background: url(/img/timer/bg.jpg) no-repeat 50% 50%;
  background-size: cover;
  opacity: 0;
  transition: 3s;
  .active & {
    opacity: 1;
  }
}

.ticket__cost{
  font-size: 1.6em;
  text-transform: uppercase;
  margin: 0 0 0.9em 0;
  span{
    font-size: 1.9em;
    color: $gold;
  }
}

.ticket__address {
  text-transform: uppercase;
  margin: 0 0 1.67em;
}

.ticket__left {
  margin: 0 0 0.79em;
  font-size: 1.17em;
  color: $gold;
  text-transform: uppercase;
}

.ticket__countdown {
  font-size: 20px;
  line-height: 1;
  margin: 0 0 1.75em;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  li {
    width: 4em;
  }
  .ticket__seperator {
    width: auto;
  }
}

.ticket__numbers {
  font-size: 3em;
}

.ticekt__ref-text {
  text-transform: lowercase;
  margin: 0;
}

.ticket__seperator {
  font-size: 3em;
  margin: 0 0.2em;
}


@media #{$s} {
  .ticket {
    font-size: 20px;
  }

  .ticket__bg {
    width: auto;
    height: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(/img/timer/bg.jpg) no-repeat 50% 50%;
    background-size: cover;
    @media #{$l} {
      background-size: contain;
    }
  }

  .ticket__cost {
    font-size: 1.2em;
    text-transform: uppercase;
    margin: 0 0 0.9em 0;
    span{
      font-size: 1.7em;
      color: $gold;
    }
  }

  .ticket__address {
    font-size: 0.8em;
    line-height: 1.88em;
  }

  .ticket__numbers {
    font-size: 2em;
  }

  .ticket__seperator{
    font-size: 2em;
  }

  .ticekt__ref-text {
     font-size: 0.8em;
  }

  .ticket__countdown{
    margin: 0 0 2.0em;
  }
}
