.promo {
  background: #1f2023;

}

.promo__wrap {
  @include wrap(1200px);
}

.promo__img {
  // max-height: 600px;
  height: 85vh;
  background: url(/img/promo/promo1.jpg) 50% 50% no-repeat;
  background-size: cover;

}


@media #{$t} and #{$p}{
  .promo__img {
    // max-height: 600px;
    height: 75vh;
    background: url(/img/promo/promo1__mobile.jpg) 50% 50% no-repeat;
    background-size: contain;

  }
}
