@font-face {
  font-family: "ProximaNova";
  font-weight: 900;

  src: url(/fonts/proximanova/ProximaNova-Extrabld.eot);
  src: url(/fonts/proximanova/ProximaNova-Extrabld.eot) format("embedded-opentype"),
       url(/fonts/proximanova/ProximaNova-Extrabld.woff2) format("woff2"),
       url(/fonts/proximanova/ProximaNova-Extrabld.woff) format("woff"),
       url(/fonts/proximanova/ProximaNova-Extrabld.ttf) format("truetype");
}

@font-face {
  font-family: 'Plumb';
  font-weight: 700;
  src: url(/fonts/plumb/plumbbold.eot);
  src: url(/fonts/plumb/plumbbold.eot) format('embedded-opentype'),
       url(/fonts/plumb/plumbbold.woff2) format('woff2'),
       url(/fonts/plumb/plumbbold.woff) format('woff'),
       url(/fonts/plumb/plumbbold.ttf) format('truetype');
}
