html {
  box-sizing: border-box;
}
body {
  font: 14px/18px "ProximaNova", "Helvetica", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  background: $white;
  color: $dark;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

