.slider {
  position: relative;
  .partners__btn{
    .slider__btn{
      display: none;
    }
  }
}

.slider__btn {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  border: 0;
  background: none;
  padding: 0;
  line-height: 0;
  font-size: 0;
  outline: none;
  svg {
    display: block;
    fill: $dark;
    transition: 0.3s;
    &:hover {
      fill: $red;
    }
    &:active {
      fill: darken($red, 10%);
    }
  }
  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
  }
}


@media #{$s}{
  .slider {
    position: relative;
    .slider__btn {
      width: 25px;
      height: 25px;
      z-index: 12;
      svg {
        height: 100%;
        width: 100%;
      }
    }
  }
}
