.fight {
  // padding: 5em 0 4.1em;
  font-size: 14px;
  color: $dark;
  overflow: hidden;
  padding: 70px 0 57px;
}

.fight__wrap {
  @include wrap;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  position: relative;

}

.fight__bg {
  width: 575px;
  height: 663px;
  position: absolute;
  bottom: -10.36em;
  right: -24%;
  z-index: -1;
  background: url(/img/fight/bg.png) no-repeat 50% 50%;
}

.fight__main {
  width: 40%;
  margin-bottom: 3em;
}

.fight__card {
  width: 57%;
  margin-left: auto;
  margin-bottom: 3em;
}

.fight__title {
  @include title($margin: 0 0 0.62em);
  color: $gold;
}

.fight__main-fighters {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.fight__main-item {
  width: 47%;
  text-align: center;
}

.fight__main-img {
  max-height: 222px;
  overflow: hidden;
  border-bottom: 0.43em solid $gold;
  margin-bottom: 2px;
  img {
    display: inline-block;
    vertical-align: middle;
  }
}

.fight__main-name {
  font-size: 1.71em;
  line-height: 1.08;
  text-transform: uppercase;
  padding-bottom: 0.17em;
  border-bottom: 1px solid $gold;
  margin: 0 0 2px
}

.fight__main-weight {
  margin: 0;
  font-size: 1.71em;
  line-height: 1;
}

.fight__vs {
  text-transform: uppercase;
  color: $red;
  font-size: 1em;
  line-height: 1;
  margin: 0;
  &--big {
    font-size: 1.71em;
    position: absolute;
    bottom: 2em;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
  }
}

.fight__slider-wrap {
  padding: 0 6%;
  overflow: hidden;
}

.fight__slider {
  margin: 0 -34px
}


@media #{$t} {
    .fight__main {
    width: 48%;
  }

  .fight__card {
    width: 48%;
  }
}

@media #{$s} {
  .fight {
    font-size: 16px;
    padding: 1.5em 0 2.14em;
    .card__fighters {
      margin-bottom: 2.06em;
    }

    .card__fighter {
      border-top:  0.25em solid #ff0000;
      border-bottom: 2px solid #ff0000;
    }

    .slider {
      .slider__btn {
        &--prev {
          left: -5px;
        }
        &--next {
          right: -5px;
        }
      }
    }
  }

  .fight__main {
    width: 100%;
    margin-bottom: 2.7em;
  }

  .fight__card {
    width: 100%;
  }

  .fight__vs {
    &--big {
      font-size: 1.125em;
    }
  }

  .fight__main-name{
    border-bottom: 2px solid #ff0000;
    font-size: 1.125em;
    min-height: 45px;
  }

  .fight__main-weight {
    font-size: 1.125em;
  }

  .fight__main-img {
    border-bottom: 0.25em solid #ff0000;
  }


  .fight__bg {
    width: 320px;
    height: 480px;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: url(/img/fight/mobile_bg.png) no-repeat 50% 50%;
  }
}
