.fight {
  padding: 5em 0 2.14em;
  font-size: 14px;
  color: $dark;
}

.fight__wrap {
  @include wrap;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.fight__main {
  width: 40%;
}

.fight__card {
  width: 57%;
}

.fight__title {
  @include title($margin: 0 0 0.62em)
}

.fight__main-fighters {

}

.fight__main-item {

}

.fight__main-img {

}

.fight__main-name {

}

.fight__main-weight {

}

.fight__vs {

  &--big {

  }
}

.fight__slider-wrap {

}

.fight__slider {

}

.fight__slider-btn {

}

.fight__btn {

  &--prev {

  }

  &--next {

  }
}
